body {
  h2,
  h3 {
    color: white;
  }
  h3 {
    font-family: "Roboto", serif;
  }
  margin: 0;
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(images/bg-featured-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;

    div {
      display: flex;
      justify-content: end;
      h1 {
        color: white;
        width: 600px;
        padding-right: 10px;
        padding-top: 100px;
        font-size: 40px;
      }
    }
  }
  main {
    background-color: black;
    p {
      color: white;
    }

    section#container_1 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      section {
        h2 {
          background-color: #346264;
          padding-left: 20px;
          font-weight: initial;
        }
        &:first-of-type {
          display: flex;
          flex-direction: column;
          h2 {
            width: 600px;
          }
        }
        &:last-of-type {
          display: flex;
          flex-wrap: wrap;
          width: 400px;
          h2 {
            width: 400px;
          }
        }
        ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          width: 800px;

          li {
            display: flex;
            align-items: start;
            &:not(.center) {
              width: 300px;
            }
            div {
              p {
                margin-right: 10px;
                color: #346264;
                &:first-of-type {
                  font-size: 12px;
                }
              }
              a {
                font-size: 12px;
                color: #6df2fc;
              }
            }
            img {
              padding: 15px;
            }
          }
        }
      }
    }
    section#container_2 {
      display: flex;
      justify-content: space-evenly;
      section {
        display: flex;
        flex-direction: column;
        ul {
          padding: 0;
        }
        &:first-of-type {
          background-color: #346264;
          h3 {
            background-color: #102223;
            margin: 0;
            padding: 10px;
          }
          ul {
            li {
              img {
                padding: 0 10px;
              }
            }
          }
        }
        &:last-of-type {
          align-items: center;
          background-color: #346264;
          ul {
            li {
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
  }
}
