body {
  background-color: black;
  h2,
  h3 {
    color: white;
  }
  h3 {
    font-family: "Roboto", serif;
  }
  margin: 0;
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(images/bg-featured-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;

    div {
      display: flex;
      justify-content: end;
      h1 {
        color: white;
        width: 600px;
        padding-right: 10px;
        padding-top: 100px;
        font-size: 40px;
      }
    }
  }
  main {
    width: 80%;
    margin: auto;
    p {
      color: white;
    }

    div.container_top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      section {
        flex-direction: column;
        h2 {
          background-color: #346264;
          width: calc(100% - 0.5em);
          padding: 0.5em 0em 0.5em 0.5em;
          font-weight: initial;
        }
        &:first-of-type {
          display: flex;
          align-items: center;
          width: 50%;
          ul {
            flex-wrap: wrap;
            width: 25%;
          }
        }
        &:last-of-type {
          display: flex;
          flex-wrap: wrap;
          width: 40%;
          ul {
            flex-direction: column;
          }
        }
        ul {
          padding: 0;
          display: flex;

          li {
            display: flex;
            align-items: start;
            &:not(.center) {
              width: 300px;
            }
            div {
              p {
                margin-right: 10px;
                color: #346264;
                &:first-of-type {
                  font-size: 12px;
                }
              }
              a {
                font-size: 12px;
                color: #6df2fc;
              }
            }
            img {
              padding: 15px;
            }
          }
        }
      }
    }
    div.container_bot {
      display: flex;
      justify-content: space-between;
      padding-top: 2em;
      section {
        display: flex;
        flex-direction: column;
        ul {
          padding: 0;
        }
        &:first-of-type {
          background-color: #346264;
          h3 {
            background-color: #102223;
            margin: 0;
            padding: 0.5em;
          }
          ul {
            li {
              img {
                padding: 0 10px;
              }
            }
          }
        }
        &:last-of-type {
          align-items: center;

          h3 {
            width: 100%;
            text-align: center;
            background-color: #102223;
            padding: 0.5em 0;
            margin: 0;
          }
          ul {
            background-color: #346264;
            margin: 0;

            li {
              display: flex;
              justify-content: space-evenly;
              width: 400px;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
